<html>
    <body>
        /pages/{id}
        <ol>
            <li>get config data from gist</li>
            <li>insert full-window iframe</li>
            <li>fetch URL built from config (e.g. /assets/charts?data=...&amp;layout=...)</li>
        </ol>
        <script>
            var segmentCount = 0;
            var l = window.location;
            console.log(
            //l.replace(
                l.protocol + '//' + l.hostname + (l.port ? ':' + l.port : '') +
                l.pathname.split('/').slice(0, 1 + segmentCount).join('/') + '/?p=/' +
                l.pathname.slice(1).split('/').slice(segmentCount).join('/').replace(/&/g, '~and~') +
                (l.search ? '&q=' + l.search.slice(1).replace(/&/g, '~and~') : '') +
                l.hash
            );
        </script>
        /db/{id}
        <ol>
            <li>get data from gist</li>
            <li>redirect to data: URL built from data</li>
        </ol>
        /{other}
        <ol>
            <li>redirect to /</li>
        </ol>
    </body>
</html>
