<html>
    <body>
        <script>
            var l = window.location;
            if (/^\/(home|20[0-9]{2}\/)/.test(window.location.pathname)) {
                window.location.href = '/posts'+window.location.pathname;
            }
        </script>
    </body>
</html>
