<html>
    <body>
        <script>
            var l = window.location,
                redir = '/',
                match;

            if (match = /^\/pages(\/.+)/.exec(l.pathname)) { 
                redir = '/tools'+match[1]+l.search; 
            }

            l.href = redir;
        </script>
    </body>
</html>
