<html>
    <body>
        /pages/{id}
        <ol>
            <li>get config data from gist</li>
            <li>insert full-window iframe</li>
            <li>fetch URL built from config (e.g. /assets/charts?data=...&amp;layout=...)</li>
        </ol>
        /db/{id}
        <ol>
            <li>get data from gist</li>
            <li>redirect to data: URL built from data</li>
        </ol>
        /{other}
        <ol>
            <li>reidrect to /</li>
        </ol>
    </body>
</html>
